  
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #ffffff;
      color: #000000; 
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
      background: rgb(29, 29, 122);   
    }

    .logo {
      width: 70px;
      height: 70px;
    }

    nav ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 0;
      padding: 0;
    }

    nav ul li a {
      text-decoration: none;
      color: white;   
      font-size: 16px;
      font-weight: bold;
    }

    nav ul li:hover {
      border-bottom: 2px solid rgb(255, 174, 0);
    }

    .welcometext{ 
      display: flex;
      justify-content: center; 
      align-items: center;     
      text-align: center;     
      min-height: 40vh; 
     
    }

    .maintext {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 50px;
    }

    .maintext-text {
      max-width: 50%;
    }

    .maintext-text h1 {
      font-size: 48px;
      margin: 10px 0;
    }

    .maintext-text p {
      font-size: 16px;
      margin: 20px 0;
    }

    .buttons {
      margin-top: 20px;
    }

    .buttons button {
      color: white;
      padding: 10px 10px;
      margin-right: 10px; 
      border: 1px solid whitesmoke;
      background:  rgb(44, 91, 193);
      border-radius: 15px;
      font-size: 14px;
      cursor: pointer; 
      
    }
    .buttons button:hover {
      background: rgb(11, 35, 88);
    }

      .buttons_more button {
      color: white;
      padding: 10px 10px;
      border: 1px solid whitesmoke;
      background: green;
      border-radius: 15px;
      font-size: 14px;
      cursor: pointer; 
      display: block; 
      margin: 0 auto; 
      
    }
    .buttons_more button:hover {
      background:rgb(9, 91, 9);
    }



    .circle {
      width: 250px;
      height: 250px;
      border: 2px solid orange;
      border-radius: 50%;   
      overflow: hidden;     
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle img {
      width: 100%;
      height: 100%;  
    }


    .profiles {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      padding: 40px 50px;
      gap: 30px;
    }

    .profile {
      flex: 1;
      max-width: 300px;
      text-align: center;
    }

    .profile .circle {
      margin: 0 auto 20px auto;
    }
